nav {

  color: #e88104;
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  text-align: center;
padding-left: 100px;


}
div {
  background-color: #94e1f7;
  height: 100px;
  width: 100%;


}

.head {
  font-family: 'Poiret One', cursive;
  color: white;
  font-size: 150px;

  padding: 80px 0px 0px 0px;
  text-align:center;
}

a {
  color: #e88104;
}
 .pic1 {
   height: 400px;
   width: 600px;
   border-radius: 8px;
   margin-top: 40px;
   margin-right: 55px;
   background: url(https://img-aws.ehowcdn.com/877x500p/photos.demandstudios.com/getty/article/240/177/124812999.jpg);
   float: right;

 }
 .pic2 {
   height: 400px;
   width:585px;
   border-radius: 8px;
   margin-top: 40px;
   margin-left: 55px;
   margin-right: 40px;


   background: url(https://media.nationalgeographic.org/assets/photos/000/281/28191.jpg);
   background-position: center;

}
.citi{
  image: 
}
